---
import Carousel from './Carousel.astro';
import Tag from './Tag.astro';

interface Props {
  name: string;
  amount: number;
  link?: string;
  title: string;
  skills: string[];
}
const props = Astro.props;
---

<div class='border border-gray-500 p-3 md:p-5 text-white rounded max-w-2xl'>
  {
    props.link ? (
      <a
        href={props.link}
        target='_blank'
        class='hover:underline-offset-4 hover:underline'
      >
        <h2 class='text-3xl font-bold text-center'>{props.title}</h2>
      </a>
    ) : (
      <h2 class='text-3xl font-bold text-center'>{props.title}</h2>
    )
  }

  <hr class='h-px my-5 bg-gray-200 border-0' />
  {
    props.amount > 2 ? (
      <Carousel name={props.name} amount={props.amount} />
    ) : (
      <div class='flex justify-center h-56 overflow-hidden rounded-lg md:h-96'>
        <a
          href={`/projects/${props.name}/s${props.amount}.png`}
          target='_blank'
          class='flex justify-center'
        >
          <img src={`/projects/${props.name}/s${props.amount}.png`} />
        </a>
      </div>
    )
  }
  <hr class='h-px my-5 bg-gray-200 border-0' />

  <div id='description'>
    <h3 class='text-2xl font-semibold'>Description</h3>
    <pre class='whitespace-pre-line font-sans mt-3'>
      <slot />
    </pre>
  </div>
  <hr class='h-px my-5 bg-gray-200 border-0' />
  <div id='skills'>
    <h3 class='text-2xl font-semibold'>Skills</h3>
    <div class='mt-3 flex flex-wrap gap-3'>
      {props.skills.map(skill => <Tag name={skill} />)}
    </div>
  </div>
</div>
