---
import { Phone, Sparkle } from "@lucide/astro";
import heroImage from "../assets/hero_image.png";
import tsLogo from "../assets/logos/ts.png";
import jsLogo from "../assets/logos/js.png";
import reactLogo from "../assets/logos/react.png";
import tailwindLogo from "../assets/logos/tailwind.png";
import nodeLogo from "../assets/logos/node.png";
import goLogo from "../assets/logos/go.png";
import Marquee from "./Marquee.astro";
---

<div
  class="flex flex-col items-center justify-center gap-6 text-white translate-y-12"
>
  <h3 class="font-normal text-xl">My name is Usman</h3>
  <h1 class="text-7xl font-bold">I&apos;m a Full Stack <br /> Web Developer</h1>
  <p class="text-center text-2xl">
    An expert web developer with 5+ years of experience, programming enthusiast <br
    /> and with a solid skill set in <b>JavaScript</b>, <b>TypeScript</b> and
    <b>React</b>.
  </p>

  <button
    class="mt-4 px-12 py-4 text-black bg-white border-2 border-gray-border rounded-full transition-all duration-300 font-medium text-lg hover:scale-105 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-border active:translate-y-0.5 shadow-[0px_14.8px_36.5px_0px_#002B2530_inset] cursor-pointer flex items-center gap-2"
  >
    <Phone />
    Schedule a call
  </button>
  <div
    class="flex items-center justify-center relative w-[500px] md:w-[700px] h-full"
  >
    <img
      src={tsLogo.src}
      alt="TypeScript"
      class="absolute -left-10 top-1/12 w-28 md:w-28 drop-shadow-[0_0_40px_#3178c6] -rotate-[20deg]"
    />
    <img
      src={reactLogo.src}
      alt="React"
      class="absolute -left-12 top-1/2 -translate-y-1/2 w-28 md:w-28 drop-shadow-[0_0_40px_#61dafb] -rotate-[8deg]"
    />
    <img
      src={nodeLogo.src}
      alt="Node.js"
      class="absolute -left-10 top-[70%] w-28 md:w-28 drop-shadow-[0_0_40px_#559f43] -rotate-[30deg]"
    />
    <img
      src={jsLogo.src}
      alt="JavaScript"
      class="absolute -right-10 top-1/12 w-28 md:w-28 drop-shadow-[0_0_40px_#f7e018] rotate-[20deg]"
    />
    <img
      src={goLogo.src}
      alt="Go"
      class="absolute -right-12 top-1/2 -translate-y-1/2 w-28 md:w-28 drop-shadow-[0_0_40px_#00ADD8] rotate-[8deg]"
    />
    <img
      src={tailwindLogo.src}
      alt="Tailwind CSS"
      class="absolute -right-10 top-[70%] w-28 md:w-28 drop-shadow-[0_0_40px_#54b6ab] rotate-[30deg]"
    />
    <img
      src={heroImage.src}
      alt="Hero Image"
      class="z-50 w-[450px] md:w-[600px] rounded-xl drop-shadow-[0_0_100px_#fff]"
    />
  </div>
  <Marquee
    class="relative w-full flex items-center gap-2"
    repeat={2}
    pauseOnHover
  >
    <span
      class="uppercase font-[900] text-9xl leading-40 text-center bg-radial from-white from-[-9.99%] to-[#131243] to-[98.14%] bg-clip-text text-transparent"
    >
      Developer
    </span>
    <Sparkle fill="yellow" stroke="0" class="size-40" />
    <span
      class="uppercase font-[900] text-9xl leading-40 text-center bg-radial from-white from-[-9.99%] to-[#131243] to-[98.14%] bg-clip-text text-transparent"
    >
      Content Creator
    </span>
    <Sparkle fill="yellow" stroke="0" class="size-40" />
    <span
      class="uppercase font-[900] text-9xl leading-40 text-center bg-radial from-white from-[-9.99%] to-[#131243] to-[98.14%] bg-clip-text text-transparent"
    >
      Educator
    </span>
    <Sparkle fill="yellow" stroke="0" class="size-40" />
  </Marquee>
</div>
