---
import { Phone, Sparkle } from "@lucide/astro";
import heroImage from "../assets/hero_image.png";
import tsLogo from "../assets/logos/ts.png";
import jsLogo from "../assets/logos/js.png";
import reactLogo from "../assets/logos/react.png";
import tailwindLogo from "../assets/logos/tailwind.png";
import nodeLogo from "../assets/logos/node.png";
import goLogo from "../assets/logos/go.png";
import Marquee from "./Marquee.astro";
---

<div
  class="flex flex-col items-center justify-center gap-4 md:gap-6 text-white translate-y-6 md:translate-y-12 px-4 md:px-0"
>
  <h3 class="font-normal text-lg md:text-xl">My name is Usman</h3>
  <h1 class="text-4xl md:text-7xl font-bold text-center">
    I&apos;m a Full Stack <br /> Web Developer
  </h1>
  <p class="text-center text-lg md:text-2xl max-w-[90vw] md:max-w-none">
    An expert web developer with 5+ years of experience, programming enthusiast <br
      class="hidden md:block"
    /> and with a solid skill set in <b>JavaScript</b>, <b>TypeScript</b> and
    <b>React</b>.
  </p>

  <button
    class="mt-2 md:mt-4 px-8 md:px-12 py-3 md:py-4 text-black bg-white border-2 border-gray-border rounded-full transition-all duration-300 font-medium text-base md:text-lg hover:scale-105 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-border active:translate-y-0.5 shadow-[0px_14.8px_36.5px_0px_#002B2530_inset] cursor-pointer flex items-center gap-2"
  >
    <Phone class="w-5 h-5 md:w-6 md:h-6" />
    Schedule a call
  </button>
  <div
    class="flex items-center justify-center relative w-[300px] sm:w-[400px] md:w-[500px] lg:w-[700px] h-full"
  >
    <img
      src={tsLogo.src}
      alt="TypeScript"
      class="absolute -left-5 md:-left-10 top-1/12 w-16 md:w-28 drop-shadow-[0_0_40px_#3178c6] -rotate-[20deg]"
    />
    <img
      src={reactLogo.src}
      alt="React"
      class="absolute -left-6 md:-left-12 top-1/2 -translate-y-1/2 w-16 md:w-28 drop-shadow-[0_0_40px_#61dafb] -rotate-[8deg]"
    />
    <img
      src={nodeLogo.src}
      alt="Node.js"
      class="absolute -left-5 md:-left-10 top-[70%] w-16 md:w-28 drop-shadow-[0_0_40px_#559f43] -rotate-[30deg]"
    />
    <img
      src={jsLogo.src}
      alt="JavaScript"
      class="absolute -right-5 md:-right-10 top-1/12 w-16 md:w-28 drop-shadow-[0_0_40px_#f7e018] rotate-[20deg]"
    />
    <img
      src={goLogo.src}
      alt="Go"
      class="absolute -right-6 md:-right-12 top-1/2 -translate-y-1/2 w-16 md:w-28 drop-shadow-[0_0_40px_#00ADD8] rotate-[8deg]"
    />
    <img
      src={tailwindLogo.src}
      alt="Tailwind CSS"
      class="absolute -right-5 md:-right-10 top-[70%] w-16 md:w-28 drop-shadow-[0_0_40px_#54b6ab] rotate-[30deg]"
    />
    <img
      src={heroImage.src}
      alt="Hero Image"
      class="z-50 w-[280px] sm:w-[380px] md:w-[450px] lg:w-[600px] rounded-xl drop-shadow-[0_0_100px_#fff]"
    />
  </div>
  <Marquee
    class="relative w-full flex items-center gap-2 overflow-hidden"
    repeat={2}
    pauseOnHover
  >
    <span
      class="uppercase font-[900] text-4xl sm:text-6xl md:text-8xl lg:text-9xl leading-tight md:leading-40 text-center bg-radial from-white from-[-9.99%] to-[#131243] to-[98.14%] bg-clip-text text-transparent"
    >
      Developer
    </span>
    <Sparkle
      fill="yellow"
      stroke="0"
      class="size-16 sm:size-24 md:size-32 lg:size-40"
    />
    <span
      class="uppercase font-[900] text-4xl sm:text-6xl md:text-8xl lg:text-9xl leading-tight md:leading-40 text-center bg-radial from-white from-[-9.99%] to-[#131243] to-[98.14%] bg-clip-text text-transparent"
    >
      Content Creator
    </span>
    <Sparkle
      fill="yellow"
      stroke="0"
      class="size-16 sm:size-24 md:size-32 lg:size-40"
    />
    <span
      class="uppercase font-[900] text-4xl sm:text-6xl md:text-8xl lg:text-9xl leading-tight md:leading-40 text-center bg-radial from-white from-[-9.99%] to-[#131243] to-[98.14%] bg-clip-text text-transparent"
    >
      Educator
    </span>
    <Sparkle
      fill="yellow"
      stroke="0"
      class="size-16 sm:size-24 md:size-32 lg:size-40"
    />
  </Marquee>
</div>
